/*INDEX HEADER*/
/*MAIN*/
/*logos*/
/*FOOTER*/
/*HOMBRES HEADER*/
/*MAIN HOMBRES*/
.main__logo__hombres, .main__logo__mujer {
  height: 250px;
  width: 250px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px; }

.main__h, .main__m {
  background-color: #e2dcd5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.buzos, .remeras, .bermudas, .buzos__m, .remeras__m, .bermudas__m {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1s; }

.buzos__hombres, .remeras__hombres, .bermudas__hombres, .buzos__mujer, .remeras__mujer, .bermudas__mujer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0px;
  flex-wrap: wrap;
  padding-bottom: 30px; }

.p__buzos__hombres, .p__remeras__hombres, .p__bermudas__hombres, .p__buzos__mujer, .p__remeras__mujer, .p__bermudas__mujer {
  font-size: 25px;
  font-family: 'Grape Nuts', cursive;
  text-align: center; }

.buzos__img, .remeras__img, .bermudas__img {
  height: 200px;
  width: 200px;
  border: solid 1px;
  border-radius: 8px; }

.boton__h, .boton__m {
  width: fit-content;
  height: 35px;
  border: solid 1px;
  padding: 7px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #507fd5, #9e9e9e, #214891);
  color: black;
  box-shadow: 5px 0px 10px black;
  margin-top: 10px;
  transition: .5s; }

/*FOOTER HOMBRES*/
/*HEADER MUJER*/
.header__titulo__hombres, .header__titulo__mujer {
  font-size: 80px;
  font-family: 'Grape Nuts', cursive;
  text-align: center;
  color: black;
  flex-wrap: wrap;
  transition: transform .5s; }

/*NAV*/
/*MAIN MUJER*/
/*mismos parametros que hombres*/
/*FOOTER MUJER*/
.footerPag__m {
  height: 75px;
  font-family: 'Grape Nuts', cursive; }

/*QUIENES SOMOS*/
/*CONTACTO*/
.logos {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  flex-wrap: wrap; }

* {
  padding: 0;
  margin: 0; }

.header {
  background-image: linear-gradient(to right, #214891, #6f94d8, #6c0aa5);
  flex-wrap: wrap; }

.header__titulo {
  font-family: "Grape Nuts", cursive;
  font-size: 70px;
  text-align: center;
  color: black; }

.anchor {
  text-decoration: none; }

.main__ {
  background-color: #e7e1d9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.logos {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  flex-wrap: none; }

.main__logo__h {
  height: 300px;
  width: 300px;
  padding-bottom: 50px;
  border-radius: 400px; }

.main__logo__m {
  height: 300px;
  width: 300px;
  padding-bottom: 50px;
  border-radius: 400px; }

.section1 {
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly; }

.img__section__1 img {
  height: 400px;
  width: 400px;
  border-radius: 20px;
  transition: transform 0.8s; }

.img__section__1 img:hover {
  transform: scale(1.1, 1.1); }

.img2__section__1 img {
  height: 400px;
  width: 400px;
  border-radius: 20px;
  transition: transform 0.8s; }

.img2__section__1 img:hover {
  transform: scale(1.1, 1.1); }

.text__section_1 {
  font-size: 2rem;
  text-align: center; }

.section2 {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  margin-right: 10px;
  justify-content: space-evenly; }

.vid__section__2 p {
  font-size: 17px; }

/*FOOTER*/
.footerPag {
  background-image: linear-gradient(to right, #214891, #6f94d8, #6c0aa5);
  height: 75px;
  font-family: "Grape Nuts", cursive; }

.footer__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none; }

.footer__list li {
  transition: transform 0.5s; }

.footer__list li:hover {
  transform: scale(1.3, 1.3); }

.header__hombres {
  background-image: linear-gradient(to right, #507fd5, #9e9e9e, #214891);
  height: 100px;
  flex-wrap: wrap; }

.header__titulo__hombres:hover {
  transform: scale(1.1); }

/*MAIN*/
.logos__hombres {
  display: flex;
  justify-content: space-around; }

.buzos:hover {
  transform: scale(1.1, 1.1); }

.boton__h:hover {
  transform: scale(1.1, 1.1); }

.remeras:hover {
  transform: scale(1.1, 1.1); }

.bermudas:hover {
  transform: scale(1.1, 1.1); }

/*FOOTER HOMBRES*/
.footerPag__h {
  background-image: linear-gradient(to right, #507fd5, #9e9e9e, #214891);
  height: 75px;
  font-family: "Grape Nuts", cursive; }

/*HEADER MUJER*/
.header__mujer {
  background-image: linear-gradient(to right, pink, #9f9c9c, #6c0aa5);
  height: 100px; }

.header__titulo__mujer:hover {
  transform: scale(1.1); }

/*NAV*/
.nav__submenu__mujer li {
  list-style: none;
  padding: 12px; }

.nav__submenu__mujer {
  display: none;
  background-color: linear-gradient(to right, pink, #9f9c9c, #6c0aa5); }

.nav__menu__mujer--submenu a {
  color: black;
  text-decoration: none; }

.nav__menu__mujer--submenu:hover .nav__submenu__mujer {
  display: block; }

/*MAIN MUJER*/
.logos__mujer {
  display: flex;
  justify-content: space-around; }

.boton__m {
  background-image: linear-gradient(to right, pink, #9f9c9c, #9e52ca); }

.boton__m:hover {
  transform: scale(1.1, 1.1); }

/*FOOTER MUJER*/
.footerPag__m {
  background-image: linear-gradient(to right, pink, #9f9c9c, #6c0aa5);
  height: 75px;
  font-family: "Grape Nuts", cursive; }

/*CONTACTO*/
.main__contact {
  height: 555px;
  padding-top: 50px; }

.input {
  height: 100px; }

.form-label {
  padding-bottom: 30px;
  padding-left: 700px; }

.form-control {
  margin: auto;
  width: 300px; }

.form-control-date {
  margin-top: 180px; }

.form-check {
  padding-bottom: 130px; }

.form_button {
  margin-bottom: 100px; }

.main__empresa {
  height: 600px;
  background-image: linear-gradient(to right, #919191, #83a6e7, #d2d2d2, #c578f1, #919090); }

.h1__qs {
  padding-top: 80px;
  font-family: "ZCOOL KuaiLe", cursive; }

.card img {
  height: 200px; }

.card-text {
  font-family: "La Belle Aurore", cursive;
  font-size: 15px; }

.row {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0; }
