@import "./base/variables";
@import "./components/index.scss";
@import "./components/general.scss";
@import "./components/hombres";
@import "./components/mujer";
@import "./components/contact.scss";
@import "./components/quienessomos.scss"


