/*CONTACTO*/
.main__contact{
    height: $main-contact;
    padding-top: $pd-contact;
}
.input{

    height: $imput-contact;
}
/*
.form-label{
    padding-bottom: $pb-form-label;
    padding-left:$pl-form-label;
}
*/
.form-control{
    margin:$margin-form-control;
    width:$width-form-control;
    
}
.form-control-date{
    margin-top: $control-date;
    
}
.form-check{
    padding-bottom: $form-check;
}

.form_button{
    margin-bottom: $form-button;
    
}
.button_submit{
    bottom: 150px;
}
.form-control-date{
  
    margin: 10px;
}
.button_submit{
    margin-bottom: 80px;
}
@media only screen and (max-width: 760px){
    .main__contact{
        padding-top: 0px;
        height: 430px;
    
    }
    .form-label{
        padding-bottom: 30px;
        padding-left: 30px;
    }
    .form-control-date{
        margin: auto;
    }
    .button_submit{
        margin-bottom: 90px;
    }

   
}