

/*INDEX HEADER*/
$color-header:  rgb(74, 74, 182) ;
$color-main: rgb(231, 225, 217);
$header-wrap: wrap;
$font-titulo: 'Grape Nuts', cursive;
$font-size: 70px;
$td-anchor-none: none;
$title-black: black;

/*MAIN*/
$display-flex: flex;
$main-fd: column;
$main-jc: space-evenly;
/*logos*/
$main-logos-height: 300px;
$main-logos-width: 300px;
$main-logos-pt: 100px;
$main-logos-pb: 50px;
$display-flex: flex;
$logos-jc: space-evenly;
$flex-wrap: wrap;
/*section1*/
$section1-pd: 50px;
$section1-jc: space-evenly;
$height-img-section: 400px;
$width-img-section: 400px;
$height-mobile: 200px;
$b-radius-img: 20px;
$transition-img: transform .8s;
$hover-img: scale(1.1,1.1);
$text-section-1: center;
$flex-dir-r: row;
/*section2*/
$pt-section2: 80px;
$mr-section2: 10px;
$jc-section2: space-evenly;
$fs-p-video-section2: 17px;
/*FOOTER*/
$footer-heigh: 85px;
$font-f: 'Grape Nuts', cursive;
$footer-list-jc: space-evenly;
$footer-list-style: none;
$footer-list-transition: transform .5s;
$footer-list-hover: scale(1.3,1.3);



/*HOMBRES HEADER*/
$fs-hombres: 80px;
$ff-hombres: 'Grape Nuts', cursive;
$color-hombres: black;
$transition: transform .5s;
$hover-title: scale(1.1);

/*MAIN HOMBRES*/
$display-logos: flex;
$jc-logos: space-around;
%main-logo-hm{
    height: 250px;
    width: 250px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;  
}
%main-h{
    background-color: rgb(226, 220, 213);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
%flex-ropa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   transition: transform 1s;
   
}
%ropa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0px;
    flex-wrap: wrap;
    
}
%titulo-ropa{
    font-size: 25px;
    font-family: 'Grape Nuts', cursive;
    text-align: center;
}
%img-ropa{
    height: 250px;
    width: 250px;
    border: solid 1px;
    border-radius: 8px;
}


%boton-comprar{
    width: fit-content;
    height: 35px;
    border: solid 1px;
    padding: 7px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(80, 127, 213), rgb(158, 158, 158), rgb(33, 72, 145) );
    color: rgb(0, 0, 0);
    box-shadow: 5px 0px 10px black;
    margin-top: 10px;
    transition: .5s;
}
/*FOOTER HOMBRES*/
    $height-footer-h: 85px;
    $font-family: 'Grape Nuts', cursive;

/*HEADER MUJER*/
$height-header-m: 100px;

%header-titulo-hm{
    font-size: 80px;
    font-family: 'Grape Nuts', cursive;
    text-align: center;
    color: black;
    flex-wrap: wrap;
    transition: transform .5s;
}
$hover-title: scale(1.1);

/*NAV*/
$list-style-none: none;
$padding: 12px;
$display-none: none;
$bg-color: rgb(228, 189, 223);
$color: black;
$td-none: none;

/*MAIN MUJER*/
/*mismos parametros que hombres*/
/*FOOTER MUJER*/
$bg-color: linear-gradient(to right, pink, rgb(159, 156, 156), rgb(108, 10, 165) );
$height-footer-m: 75px;
.footerPag__m{
    height: 85px;
    font-family: 'Grape Nuts', cursive;
   
}

/*QUIENES SOMOS*/
$main-qs: 600px;
$bg-image-qs: linear-gradient(to right,rgb(145, 145, 145),rgb(131, 166, 231), rgb(210, 210, 210), rgb(197, 120, 241), rgb(145, 144, 144));
$bg-image-qs-mobile: rgb(231, 225, 217);
$p-top: 80px;
$ff-qs: 'ZCOOL KuaiLe', cursive;
$card-img: 200px;
$ff-card: 'La Belle Aurore', cursive;
$fs-card: 15px;
$row-flex: flex;
$jc-row: space-around;

/*CONTACTO*/
$main-contact: 555px;
$pd-contact: 50px;
$imput-contact: 100px;
$pb-form-label: 30px;
$pl-form-label: 700px;
$margin-form-control: auto;
$width-form-control: 300px;
$control-date: 180px;
$form-check: 130px;
$form-button: 100px;






$tamanio-tipografia:(
    titulo: 70px,
    subtitulo: 2rem,
    texto-ropa: 25px,
    texto-index: 17px
);
%flex-logos{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    flex-wrap: wrap;
};


@mixin flex-logos ($justify, $wrap){
    display: flex;
    justify-content: $justify;
    padding-top: 100px;
    flex-wrap: $wrap;
};


  